@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}

.container {
    padding-left: clamp(50px , 10vw , 120px);
    padding-right: clamp(50px , 10vw , 120px);
}
.m-auto{
    margin: auto;
}

.swiper-button-prev::after {
    font-size: 20px;
    color: white;
    background-color: #00b8ff;
    padding: 8px 13px;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.swiper-button-prev:hover::after {
    background-color: #00415a;
    border: none;
}

.swiper-button-next::after {
    font-size: 20px;
    color: white;
    background-color: #00b8ff;
    padding: 8px 13px;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.swiper-button-next:hover::after {
    background-color: #00415a;
    border: none;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 3px solid #111;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
}

.color-primary {
    color: #00b8ff;
}

.color-secondary {
    color: #00415a;
}

.my-20 {
    margin-block: 20px;
}