@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}

.container {
    padding-inline: 120px;
}
@media screen and (max-width: 1000px) {
    .container {
        padding-inline: 70px;
    }   
}
@media screen and (max-width: 780px) {
    .container {
        padding-inline: 20px;
    }   
}
.m-auto{
    margin: auto;
}

.swiper-button-prev::after {
    font-size: 20px;
    color: white;
    background-color: #3c78d8;
    padding: 8px 13px;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.swiper-button-prev:hover::after {
    background-color: #00415a;
    border: none;
}

.swiper-button-next::after {
    font-size: 20px;
    color: white;
    background-color: #3c78d8;
    padding: 8px 13px;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.swiper-button-next:hover::after {
    background-color: #00415a;
    border: none;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 3px solid #111;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
}

.color-primary {
    color: #3c78d8;
}

.color-secondary {
    color: black;
}

.my-20 {
    margin-block: 20px;
}
.color-365{
    color: #40910A;
}
