#medi-home .medi-banner {
    width: 100%;
    position: relative;
}

#medi-home .medi-banner img {
    width: 100%;
    height: 550px;
}

#medi-home .medi-banner .swiper-slide {
    position: relative;
}

#medi-home .medi-banner .swiper-slide .text-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

#medi-home .medi-banner .swiper-slide .text-inner h1 {
    font-size: clamp(20px, 5.5vw, 40px);
}

#medi-home .medi-banner .swiper-slide .text-inner h2 {
    font-size: clamp(24px, 4vw, 48px);
}


#medi-home .medi-banner .swiper-slide .text-inner a {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to left,
            #00c853,
            #00bfa5,
            #00acc1,
            #3c78d8);

    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
}

#medi-home .medi-banner .swiper-slide .text-inner a:hover {
    background-image: linear-gradient(to right, #00c853, #00bfa5, #00acc1, #3c78d8) !important;
}

#medi-home .medi-banner .swiper-button-next {
    right: 30px;
}

#medi-home .medi-banner .swiper-button-prev::after,
#medi-home .medi-banner .swiper-button-next::after {
    position: relative;
}

#medi-home .medi-banner .swiper-button-prev {
    left: 30px;
}

#medi-home .medi-section {
    background: #3c78d8;
}

@media (max-width: 900px) {

    #medi-home .medi-banner .swiper-button-next,
    #medi-home .medi-banner .swiper-button-prev {
        display: none;
    }
}

#medi-home .medi-section section {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 988px) {
    #medi-home .medi-section {
        height: 300px;
        padding-block: 20px;
    }

    #medi-home .medi-section section {
        grid-template-columns: repeat(2, 1fr);
    }
    #medi-home .medi-section section div:nth-child(2) {
        border-right: none;
    }
}

#medi-home .medi-section section div {
    height: 120px;
    color: white;
    border-right: 1px solid white;
    align-content: start;
    text-align: center;
    padding: 0 20px;
}
#medi-home .medi-section section div:last-child {
    border-right: none;
}

#medi-home .medi-section section div h2 {
    margin-bottom: 10px;
    color: white;
    font-size: 32px;
}

#medi-home .medi-section section div p {
    font-weight: bold;
    line-height: 30px;
    font-size: 16px;
}

#medi-home .medi-body h1:first-child {
    text-align: center;
    color: #3c78d8;
    position: relative;
    padding: 40px 0 0 0;
    font-size: clamp(25px, 2vw, 35px);
}

#medi-home .medi-body h1:first-child::after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background: #3c78d8;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#medi-home .medi-body>.content {
    display: flex;
    align-items: center;
    gap: min(70px, 5vw);
    margin-top: 40px;
    justify-content: space-between;
}

#medi-home .medi-body .content img {
    width: clamp(300px, 100%, 630px); 
    height: auto;                  
    max-width: 60%;                  
    display: block; 
}

@media (max-width:950px) {
    #medi-home .medi-body>.content {
        display: flex;
        gap: 60px;
        flex-direction: column;
    }

    #medi-home .medi-body .content img {
        min-width: 100%;
        height: auto;
        object-fit: cover;
    }
    #medi-home .medi-body .content .content-item {
        min-width: 100%;
    }
}

#medi-home .medi-body .content-item h2 {
    color: #3c78d8;
    font-size: 25px;
}

#medi-home .medi-body .content-item ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#medi-home .medi-body-button {
    margin-top: 50px;
    background-color: rgb(215, 236, 249);
    padding: 60px;
}

#medi-home .medi-body-button div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#medi-home .medi-body-button button {
    width: 200px;
    padding: 20px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#medi-home .medi-body-button a:nth-child(1) button {
    border-radius: 15px 0 0 15px;
    background: #3c78d8;
}

#medi-home .medi-body-button a:nth-child(2) button {
    border-radius: 0 15px 15px 0;
    background: #FFB922;
}

#medi-home .option-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}

#medi-home .option-container .option-item button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#medi-home .option-container .option-item {
    width: 100%;
    height: 130px;
}

@media (max-width:1094px) {
    #medi-home .option-container .option-item {
        height: 100px;
    }

    #medi-home .option-container {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
    }
}

@media (max-width:814px) {
    #medi-home .option-container {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        gap: 20px;
    }
}


#medi-home .medi-body-feature-show {
    margin-top: 50px;
    background-color: rgb(215, 236, 249);
}

#medi-home .medi-body-feature-show .swiper {
    width: 70%;
    margin: 30px auto;
}

@media (max-width:780px) {

    #medi-home .medi-body-feature-show .swiper {
        width: 90%;
    }

}

@media (max-width:900px) {

    #medi-home .medi-body-feature-show .swiper-button-next::after,
    #medi-home .medi-body-feature-show .swiper-button-prev::after {
        display: none;
    }

}

#medi-home .medi-body-feature-show .swiper .swiper-slide {
    margin: auto;
    text-align: center;
}

#medi-home .medi-body-feature-show .swiper .swiper-slide img {
    width: 85%;
    max-height: 450px;
    object-fit: cover;
    margin: 0 0 40px auto;
    border-radius: 10px;
}

#medi-home .medi-body-evaluate {
    padding-bottom: 150px;
}

#medi-home .medi-body-evaluate .swiper {
    width: 70%;
    margin: 20px auto;
}



#medi-home .medi-body-evaluate .swiper .item {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    gap: 30px;
}

#medi-home .medi-body-evaluate .swiper .item img {
    width: 260px;
    height: 173px;
    border-radius: 10px;
}

@media (max-width:1178px) {
    #medi-home .medi-body-evaluate .swiper {
        width: 90%;
    }
}

@media (max-width:924px) {
    #medi-home .medi-body-evaluate .swiper .item {
        flex-direction: column;
    }

    #medi-home .medi-body-evaluate .swiper .swiper-slide {
        height: 450px;
    }

    #medi-home .medi-body-evaluate .swiper .item img {
        margin: auto;
        width: 100%;
        height: clamp(240px, 40vh, 280px);
        object-fit: cover;
    }

    #medi-home .medi-body-evaluate .swiper .swiper-button-next::after,
    #medi-home .medi-body-evaluate .swiper .swiper-button-prev::after {
        display: none;
    }
}


#medi-home .medi-body-evaluate .swiper .item>.content {
    color: #777777;
}

#medi-home .medi-body-evaluate .swiper .item>.content>p:nth-child(1) {
    font-size: 16px;
    margin-bottom: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: clip;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#medi-home .medi-banner-2 img {
    width: 100%;
}

#medi-home .medi-section-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 30px auto;
}

#medi-home .medi-section-icon div {
    text-align: center;
}

@media (max-width:1180px) {
    #medi-home .medi-section-icon {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:868px) {
    #medi-home .medi-section-icon {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    #medi-home .medi-section-icon {
        grid-template-columns: repeat(2, 1fr);
    }

    #medi-home .medi-section-icon img {
        width: 130px;
    }
}

#medi-home .medi-section-icon img {
    max-width: 220px;
}

#medi-home .medi-news {
    background-color: #D7ECF9;
    padding-bottom: 180px;
}

#medi-home .medi-news>.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    margin: 30px auto;
}

@media screen and (max-width: 850px) {
    #medi-home .medi-news>.news-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


#medi-home .medi-news>.news-container .new-item {
    width: 100%;
    height: 100%;
    background-color: white;
}

#medi-home .medi-news>.news-container .new-item img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

#medi-home .medi-news>.news-container .new-item .content {
    padding: 10px;
}

#medi-home .medi-news>.news-container .new-item .content p:first-child {
    color: #555555;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

#medi-home .medi-news>.news-container .new-item .content p:nth-child(2) {
    color: #3c78d8;
    font-weight: bold;
    font-size: 17px;
}

#medi-home .medi-news .btn-list {
    text-align: center;
    display: block;
}

#medi-home .medi-news .btn-list button {
    background-image: linear-gradient(to left,
            #00c853,
            #00bfa5,
            #00acc1,
            #3c78d8);
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}